

@font-face {
	font-family: fsbolditalic;
	src: url(../fonts/fsbolditalic.otf);
}

@font-face {
	font-family: fsmedium;
	src: url(../fonts/fsmedium.otf);
}

@font-face {
	font-family: fslight;
	src: url(../fonts/fslight.otf);
}

h1 {
	text-transform: uppercase;
	font-family: fsmedium;
	font-size: 2em;
}

p {
	font-family: fslight;
	font-size: 1.1em;
	color: #6d6e70;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.pdetail {
	text-transform: uppercase;
	color: black;
	font-family: fsmedium;
	margin-bottom: -10px;
}

/*Project Back Arrow*/
.navleft {
	height: 50px;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 2%;
}

#maincontainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1800px; /* or 950px */
}

/*index left  container*/
.leftcontainer {
/*	background-color: #b3ecff;*/
	border-top: 8px solid #3a74ba;
}

.rightcontainer {
/*	background-color: #ffcc66;*/
}

/*project description box */

.imgcontainer {
/*	background-color: #ffcc66;*/
	text-align: center;
	margin-bottom: 4%;
}

.imgcontainer img {
	max-width: 100%;
	max-height: 100%

}

/*Social icons black and colour*/
#linkedin {
    background: url("../img/linkedin.png");
	height: 40px;
	width: 40px;
	margin-right: 14px;
	margin-top: 10px;
    display: inline-block;
}

#linkedin:hover {
    background: url("../img/linkedincolour.png");
 
}

#behance {
    background: url("../img/behance.png");
	height: 40px;
	width: 40px;
	margin-right: 14px;
	margin-top: 10px;
    display: inline-block;
}

#behance:hover {
    background: url("../img/behancecolour.png");
 
}

#ig {
    background: url("../img/ig.png");
	height: 40px;
	width: 40px;
	margin-right: 10px;
	margin-top: 10px;
    display: inline-block;
}

#ig:hover {
    background: url("../img/igcolour.png");
 
}

#twitter {
    background: url("../img/twitter.png");
	height: 40px;
	width: 40px;
	margin-right: 10px;
	margin-top: 10px;
    display: inline-block;
}

#twitter:hover {
    background: url("../img/twittercolour.png");
}

/*index project thumbnails*/

ul { 
	list-style-type: none;
	padding: 0;
}

li {
	background-repeat: no-repeat;
	max-width: 1185px;
	height: 153px;
	margin-bottom: 10px;
/*	overflow: hidden; ??*/
}

li a {
	display: block;
	height: 100%;
}

.hijack {
	background-image: url("../img/p1c.jpg");
}

.vme {
	background-image: url("../img/p2c.jpg");
	height: 153px;
}

.bare {
	background-image: url("../img/p3c.jpg");
	height: 153px;
}

.djmag {
	background-image: url("../img/p4c.jpg");
	height: 153px;
}

.fruitfling {
	background-image: url("../img/p5c.jpg");
	height: 153px;
}

/*Project Titles*/
.photo-grid figcaption p {
/*	background-color: black;*/
	font-family: fsbolditalic;
	font-size: 3em;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #3a74ba;
	color: white;
	text-align: right;
	padding-top: 6%;
	padding-right: 2%;
}




