/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	/*Project Titles*/
	.photo-grid figcaption p {
	/*	background-color: black;*/
		font-family: fsbolditalic;
		font-size: 1.9em;
	   -webkit-text-stroke-width: 0.04em;
	   -webkit-text-stroke-color: #3a74ba;
		color: white;
		vertical-align: middle;
		text-align: center;
		padding: 0;
	}

	.leftcontainer { 
		text-align: center;
	 }

	 h1 {
	 	font-size: 1.6em;
	 }

	 ul li {
	 	display: block;
	 	height: 153px;
	 	line-height: 153px;
	 }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

		/*Project Titles*/
	.photo-grid figcaption p {
	/*	background-color: black;*/
		font-family: fsbolditalic;
		font-size: 2.5em;
	   -webkit-text-stroke-width: 0.04em;
	   -webkit-text-stroke-color: #3a74ba;
		color: white;
		vertical-align: middle;
		text-align: center;
		padding: 0;
	}

	.leftcontainer { 
		text-align: center;
	 }

	 h1 {
	 	font-size: 2.2em;
	 }

	 ul li {
	 	display: block;
	 	height: 153px;
	 	line-height: 153px;
	 }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {

	/*Project Titles*/
	.photo-grid figcaption p {
	/*	background-color: black;*/
		font-family: fsbolditalic;
		font-size: 4em;
	   -webkit-text-stroke-width: 0.04em;
	   -webkit-text-stroke-color: #3a74ba;
		color: white;
		vertical-align: middle;

	}

	#maincontainer {
		margin-top: 10%
	}

	ul {
		margin-left: 10%;
	}

	.projfix {
		position: fixed;
	}

}

