/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	/*Project Titles*/
	.photo-grid figcaption p {
		font-size: 1.9em;
		-webkit-text-stroke-width: 1px;
		vertical-align: middle;
		text-align: center;
		padding: 0;
		opacity: 1;

	}

	.leftcontainer { 
		text-align: center;
	 }

	 h1 {
	 	font-size: 1.6em;
	 }

	 ul li {
	 	display: block;
	 	height: 153px;
	 	line-height: 153px;
	 }


	.imgcontainer {
		margin-top: 5%;
	}

	.imgcontainer img {
		margin-bottom: 50px;
	}

	.rightcontainer {
		margin-top: 2%;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

		/*Project Titles*/
	.photo-grid figcaption p {
		font-size: 2.5em;
		vertical-align: middle;
		text-align: center;
		padding: 0;
		opacity: 1;
	}

	.leftcontainer { 
		text-align: center;
	 }

	 h1 {
	 	font-size: 2.2em;
	 }

	 ul li {
	 	display: block;
	 	height: 153px;
	 	line-height: 153px;
	 }

	
	.imgcontainer {
		margin-top: 5%;
	}

	.imgcontainer img {
		margin-bottom: 100px;
	}

	.rightcontainer {
		margin-top: 2%;
	}

	#contact button[type="submit"] {
	  	float: none;
		margin: 0 auto;
	}

}

/* Smaller desktops and laptops ----------- */
@media only screen  and (min-width : 1025px) {

}



/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {

	.imgcontainer img {
		margin-bottom: 200px;
	}


	ul {
		margin-left: 5%;
	}

	/*Project Titles*/
	.photo-grid figcaption p {
		font-size: 4em;
	}


	.photo-grid li:hover figcaption {
		opacity: 1;
		animation: fade 0.4s linear;

	}

	#contact {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	#contact button[type="submit"] {
		float: right;
	}


}

